.banner__container {
    display: flex;
    align-items: center;
    justify-content: left;  
    border: 2px solid blue;
    position: relative;
    overflow-x: hidden;
}

.banner__content {
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    border: 2px solid red;
    padding: 5em 0;
}

.banner__image {
    max-width: 40rem;
    position: absolute;
    top: 50%; 
    right: 0%;  
    transform: translateY(-50%);
    z-index: -1;
    border: 2px solid black;   
}

.banner__image img {
    height: auto; 
    object-fit: cover;
}

.banner__content button {
    align-self: flex-start; 
    width: auto;
}

.banner__content h1 {
    font-size: 4rem;
    line-height: 1.2;
}

.banner__content p {
    color: var(--grayish-violet);
    padding: 1em 0;
}


