.banner__container {
    display: flex;
    align-items: center;
    justify-content: left;  
}

.banner__image {
    position: absolute;
    right: -10%; 
    top: 60%; 
    transform: translateY(-50%);
    z-index: 9;
    max-width: 600px;
}

.banner__content {
    max-width: 45rem;
    margin-top: 5.5rem;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.banner__content h1 {
    font-size: 4rem;
}

.banner__content p {
    color: var(--gray);
}

/* Go through the css and js carefully needs to be refactored but the image is fine */

