.boost__container {
    background-color: var(--dark-violet);
    background-image: url('./Assets/Images/bg-boost-desktop.svg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 3rem 0;
    gap: 1em;
    color: white;
}

.boost__container h2 {
    font-size: 2em;
}

@media (max-width: 768px) {
    .boost__container h2 {
        font-size: 1.5em;
    }
}