.button__signin {
    width: auto;
    display: inline-block;
    background: none;
    cursor: pointer;
    color: white;
    border: 1px solid var(--cyan);
    border-radius: 999em;
    padding: 5px 20px;
    background-color: var(--cyan);
}