.footer {
    background-color: var(--very-dark-violet);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
     
    padding: 4em 6em;
    color: white;
}

.footer__logo {
    display: flex;
    align-self: flex-start;
}

.footer__links {
    align-self: flex-start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: var(--violet-gray);
}

.empty-row {
    grid-column: span 2; 
    height: 1em;
}

.footer__links-card li {
    padding: 0.3em 0;
}

.footer__links-card p {
    font-weight: var(--font-weight-bold);
    color: white;
}

.footer__links-card a:visited {
    color: var(--gray);
}

.footer__socials {
    display: flex;
    align-self: flex-start;
    justify-content: right;
    gap: 1.5em;
}