.shortener__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./Assets/Images/bg-shorten-desktop.svg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-color: var(--dark-violet);
    border-radius: 0.5em;
    padding: 3em;
}

.shortener__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    width: 100%;
}

input[type="url"] {
    flex: 1;
    border: none;
    padding: 1em;
    max-width: 100%;
    border-radius: 0.5em;
}